/*==================================
            || 1280px
===================================*/
@media (max-width: 1280px) {
  .header__form {
    flex-wrap: wrap;
    row-gap: 16px;
  }

  .header__dates {
    flex: 0 0 350px;
  }

  .header__dates .header__cell {
    border-top-right-radius: 8px;
    border-bottom-right-radius: 8px;
  }

  .header__parameters {
    flex: 0 0 314px;
  }

  .header__parameters .header__cell {
    border-top-left-radius: 8px;
    border-bottom-left-radius: 8px;
  }

  .header__search {
    flex: 0 1 192px;
  }
}





/*==================================
            || 1024px
===================================*/
@media (max-width: 1024px) {
  .header__destination {
    flex: 1 1 312px;
  }

  .header__dates {
    flex: 1 1 312px;
  }
}





/*==================================
            || 768px
===================================*/
@media (max-width: 768px) {
  .container {
    padding-top: 60px;
    padding-bottom: 60px;
  }

  .header {
    padding-top: 30px;
  }

  .header__bar {
    height: 48px;
    align-items: center;
    margin-bottom: 10vh;
  }

  .nav-links {
    display: none;
  }

  .nav-btns__item:nth-of-type(n):not(:nth-of-type(n+3)) {
    margin-right: 24px;
  }

  .nav-btns__burger-menu {
    display: block;
    width: 36px;
    height: 28px;
  }

  .header__title {
    width: 100%;
    font-size: 40px;
    line-height: 45px;
  }

  .header__item {
    height: 48px;
  }

  .header__destination .header__item {
    text-align: center;
  }

  .header__dates .header__label {
    display: none;
  }

  .header__cell {
    background: none;
  }

  .header__dates {
    flex: 1 0 259px;
  }

  .header__parameters {
    flex: 1 0 314px;
  }

  .header__search {
    flex: 1 0 192px;
  }

}





/*==================================
            || 480px
===================================*/
@media (max-width: 480px) {
  .container {
    padding: 40px 18.88% 40px 18.88%;
  }

  .header {
    padding: 0 16px 40px 16px;
    background-position: top 30% right 9%;
    background-size: cover;
  }

  .logo__header {
    width: 160px;
    height: 40px;
  }

  .nav-btns__item:nth-of-type(n):not(:nth-of-type(n+3)) {
    margin-right: 16px;
  }

  .nav-btns__view-mode {
    width: 16px;
    height: 16px;
  }

  .nav-btns__account {
    width: 24px;
    height: 24px;
  }

  .nav-btns__burger-menu {
    width: 24px;
    height: 16px;
  }

  .header__title {
    width: 100%;
    font-size: 30px;
    line-height: 35px;
  }

  .header__form {
    padding: 8px;
    gap: 8px;
    justify-content: center;
    align-items: center;
    background-color: #F5BD41;
    margin-bottom: 32px;
  }

  .header__label {
    display: none;
  }

  .header__dates .header__cell {
    display: none;
  }

  .header__parameters .header__cell {
    display: none;
  }

  .header__cell {
    width: 100%;
    border-radius: 4px;
    background: none;
  }

  .header__cell-version {
    display: flex;
  }

  .header__item-version {
    display: flex;
  }

  .header__item {
    border-radius: 4px;
    height: 48px;
  }

  input[class *= 'header__item'] {
    padding-left: 36px;
  }

  input[class *= 'header__item']::placeholder {
    color: #383838;
    font-weight: 500;
    font-size: 15px;
    line-height: 18px;
    visibility: visible;
  }

  .header__destination .header__cell::after {
    position: absolute;
    content: '';
    width: 16px;
    height: 16px;
    top: 16px;
    left: 12px;
    background-image: url("../images/other-graphics/icons/search-icon.svg");
    background-repeat: no-repeat;
    background-size: 100%;
  }

  .btn-search {
    font-size: 19px;
    line-height: 22px;
  }

  .contour-light:hover {
    outline: 3px solid greenyellow;
  }

  .contour-light:focus {
    outline: 3px solid greenyellow;
  }

  .advantages {
    padding-top: 24px;
  }

  .advantages__header {
    font-size: 28px;
    line-height: 33px;
    margin-bottom: 32px;
  }

  .advantages__highlight {
    display: none;
  }

  .advantages__list {
    row-gap: 32px;
  }

  .card__icon {
    width: 70px;
    height: 70px;
    margin-bottom: 16px;
  }

  .card__text {
    font-size: 15px;
    line-height: 18px;
  }

  .footer .logo {
    display: flex;
  }

  .footer__menu {
    margin-bottom: 32px;
  }

  .footer__list {
    width: auto;
    column-gap: 16px;
  }

  .footer__list-item:nth-of-type(n + 2) {
    display: none;
  }

  .footer__list-item {
    font-size: 15px;
    line-height: 18px;
    text-decoration-line: underline;
  }

  .footer__copyrights {
    font-size: 12px;
    line-height: 14px;
    text-align: center;
  }
}




/*==================================
            || 360px
===================================*/
@media (max-width: 360px) {
  .logo__header {
    width: 122px;
    height: 24px;
  }

  .header__bar {
    margin-bottom: 40px;
  }

  .header__title {
    margin-bottom: 30px;
  }

  .header__destination .header__item {
    text-align: left;
  }

  .header__parameters {
    flex: 1 1 300px;
  }

}
