@import url(../styles/roboto-font.css);





/* ###############################################
                  || COLORS
################################################# */
:root {
  --general-blue: #10367C;
  --accent-blue: #3077C6;
  --accent-blue-hover: #609de8;
  --bg-color: #EAF0F9;
  --accent-yellow: #F5BD41;
  --stroke-color: #F3F3F4;
  --stroke-color-hover: #c9c9ec;
  --text-color: #383838;
  --general-white: #FFFFFF;
  --secondary-text: #BFBFBF;
  --dark-mode-1: #121212;
  --dark-mode-2: #1D1E1F;
  --dark-mode-3: #4D4D4D;
}





/* ############################################
                 || GENERAL STYLES
############################################## */
body {
  font-family: "Roboto", sans-serif;
  font-style: normal;
}

a:hover {
  cursor: pointer;
}

button {
  border: none;
  background-color: var(--general-white);
  padding: 0;
}

input {
  font-family: 'Roboto', sans-serif;
  font-style: normal;
  padding: 0;
  color: var(--text-color);
  border: none;
}

.header, .main, .footer {
  min-width: 360px;
}

.container {
  box-sizing: border-box;
  max-width: 1440px;
  min-width: 360px;
  margin: 0 auto;
  padding: 120px 7.22% 120px 7.22%;
}

.title {
  position: relative;
  font-weight: 500;
  font-size: 40px;
  line-height: 47px;
  color: var(--text-color);
  margin-bottom: 104px;
  text-align: center;
}

.title--underline-active::after {
  position: absolute;
  content: '';
  background-color: var(--accent-yellow);
  height: 4px;
  bottom: -24px;
  left: 33.5%;
  right: 33.5%;
}





/* ###############################################
                  || HEADER
################################################# */
.top-section {
  padding-top: 5.67vh;
  color: var(--general-white);
}

.header {
  min-height: 100vh;
  background-image: url("../images/other-graphics/background/header-background.jpg");
  background-position: top left 50%;
  background-repeat: no-repeat;
  background-size: cover;
}

.header__bar {
  width: 100%;
  height: 46px;
  display: flex;
  flex-wrap: wrap;
  flex-direction: row;
  justify-content: space-between;
  margin-bottom: 21.78vh;

}

.logo {
  justify-content: center;
  margin-bottom: 40px;
}

.logo__header {
  width: 205px;
  height: 40px;
  color: var(--accent-blue);
}

.header .logo {
  margin-bottom: 0;
}

.header__menu {
  display: flex;
  flex-wrap: wrap;
  flex-direction: row;
  column-gap: 48px;
}

.header__side {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  column-gap: 24px;

}

.nav-links {
  display: flex;
  align-items: flex-end;
}

.nav-links__list {
  display: flex;
  column-gap: 24px;
}

.nav-links__item {
  cursor: pointer;
  text-align: center;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.nav-links__link {
  position: relative;
  color: var(--general-white);
  font-weight: 400;
  font-size: 24px;
  line-height: 28px;
  margin-bottom: 8px;
}

.nav-links__link::after {
  position: absolute;
  content: '';
  bottom: -12px;
  left: 50%;
  right: 50%;
  height: 4px;
  background-color: var(--accent-yellow);
  transition: all 0.5s ease;

}

.nav-links__link:hover::after {
  left: 8%;
  right: 8%;
  transition: all 0.5s ease;
}


.header-btns {
  display: flex;
  align-items: flex-start;
}

.header-btns {
  display: flex;
  align-items: flex-start;
}

.header-btns__list {
  display: flex;
  align-items: center;
  /*column-gap: 24px;*/
}

.header-btns__item:nth-of-type(n):not(:nth-of-type(n+2)) {
  margin-right: 24px;
}

.header-btns__view-mode {
  cursor: pointer;
  width: 30px;
  height: 30px;
}

.header-btns__account {
  cursor: pointer;
  width: 40px;
  height: 40px;
}

.header-btns__burger-menu {
  width: 24px;
  height: 16px;
  display: none;
}

.header-btns__list li:hover {
  color: var(--accent-yellow);
}

.header__title {
  display: flex;
  flex-wrap: wrap;
  width: 542px;
  font-weight: 500;
  font-size: 50px;
  line-height: 59px;
  margin-bottom: 11.15vh;
}

.header__form {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: flex-end;
  margin-bottom: 13.35vh;
}

.header__label {
  font-weight: 400;
  font-size: 18px;
  line-height: 21px;
  margin: 0 0 24px 24px;
}

.header__section {
  width: 100%;
  display: flex;
  flex-direction: column;
}

.header__cell {
  width: 100%;
  position: relative;
  display: flex;
  flex-direction: column;
  background-color: var(--general-white);
}

.header__cell--rounded-edge-left {
  border-top-left-radius: 8px;
  border-bottom-left-radius: 8px;
}

.header__cell--rounded-edge-right {
  border-top-right-radius: 8px;
  border-bottom-right-radius: 8px;
}

.header__cell-version {
  display: none;
  flex-direction: row;
  justify-content: flex-start;
  align-items: center;
  column-gap: 8px;
}

.header__item-version {
  width: 100%;
  height: 48px;
  display: none;
  flex-direction: column;
  justify-content: center;
  align-items: flex-start;
  row-gap: 4px;
  border-radius: 4px;
  color: var(--text-color);
  padding-left: 8px;
  background-color: var(--general-white);
}

.header__item-version--parameters {
  box-sizing: border-box;
  flex-direction: row;
  justify-content: flex-start;
  align-items: center;
  row-gap: 0;
}

.header__param {
  width: 100%;
  display: flex;
  flex-direction: column;
  row-gap: 4px;
  align-items: flex-start;
  border-right: 1px solid var(--secondary-text);
}

.header__param:last-child {
  border: none;
}

.header__param:nth-child(n + 1) {
  padding-left: 8px;
}

.header__param:nth-child(1) {
  padding-left: 0;
}

.header__description {
  font-weight: 400;
  font-size: 12px;
  line-height: 14px;
}

.header__value {
  box-sizing: border-box;
  width: 100%;
  font-weight: 500;
  font-size: 15px;
  line-height: 18px;
}

.header__item {
  font-family: 'Roboto', sans-serif;
  font-style: normal;
  cursor: pointer;
  font-weight: 400;
  font-size: 18px;
  line-height: 21px;
  border-radius: 8px;
  height: 64px;
  padding: 0 24px;
  border: none;
  color: var(--text-color);
}

.contour-light:hover {
  outline: 3px solid var(--accent-yellow);
  outline-offset: -3px;
}

.contour-light:focus {
  outline: 3px solid var(--accent-yellow);
  outline-offset: -3px;
}

.header__destination {
  flex: 0 1 467px;
}

input[class *= 'header__item']::placeholder {
  position: relative;
  visibility: hidden;
}

.header__dates {
  flex: 1 0 259px;
}


.header__parameters {
  flex: 1 0 314px;
}

.header__search {
  flex: 1 0 192px;
}

.btn-search {
  color: var(--general-white);
  background-color: var(--accent-blue);
  font-weight: 500;
  font-size: 24px;
  line-height: 28px;
}

.header__stores {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  column-gap: 17px;
}

.header__google-play {
  width: 135px;
  height: 40px;
}

.header__app-store {
  width: 118px;
  height: 40px;

}

/* ###############################################
                  || MAIN
################################################# */





/* ############################################
                  || ADVANTAGES
############################################# */
.advantages {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.advantages__header {
  font-weight: 500;
  font-size: 40px;
  line-height: 47px;
  color: var(--text-color);
  margin-bottom: 20px;
  text-align: center;
}

.advantages__list {
  width: 100%;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  row-gap: 80px;
  column-gap: 1.3%;
  justify-content: space-around;

}

.card {
  display: flex;
  flex-direction: column;
  align-items: center;
  flex: 0 1 296px;
}

.card__icon {
  width: 100px;
  height: 100px;
  color: var(--accent-blue);
  margin-bottom: 48px;
}

.card__text {
  font-weight: 400;
  font-size: 24px;
  line-height: 28px;
  color: var(--text-color);
  text-align: center;
}





/* ##############################################
                  || HOMES
################################################ */
.homes {
  background-color: var(--bg-color);
}

.slider__wrapper {
  position: relative;
}

.slider {
  position: relative;
  display: flex;
  flex-direction: row;
  justify-content: center;
  column-gap: 16px;
  row-gap: 16px;
}

.slider__arrow {
  cursor: pointer;
  position: absolute;
  background-color: var(--bg-color);
  border-radius: 50%;
  width: 40px;
  height: 40px;
  box-shadow: 0 3px 5px 1px rgba(0, 0, 0, 0.5);
  background-image: url("../images/other-graphics/icons/slider-right-arrow.svg");
  background-repeat: no-repeat;
  background-position: center;
}

.slider__arrow--right {
  top: 30%;
  right: -20px;
  background-size: 9px 21px;
}

.slider__arrow--bottom {
  box-shadow: 3px 0 5px 1px rgba(0, 0, 0, 0.5);
  transform: rotate(90deg);
}

.slider__item {
  flex: 1 0 155px;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: flex-start;
  row-gap: 24px;
  font-weight: 400;
  font-size: 24px;
  line-height: 28px;
  color: var(--secondary-text);
}

.slider__image {
  position: relative;
  width: 100%;
  object-position: center;
  object-fit: cover;
}

.slider__title {
  color: var(--accent-blue);
}

.slider__link {
  display: contents;
  width: 100%;
  position: relative;
}





/* ##############################################
                  || DESTINATIONS
################################################ */
.destinations__list {
  display: flex;
  row-gap: 16px;
  justify-content: start;
  margin-bottom: 65px;
}

.destinations-btn {
  min-width: 192px;
  width: 100%;
  cursor: pointer;
  color: var(--text-color);
  background-color: var(--stroke-color);
  border-radius: 8px;
  padding: 17px 25px;
  font-family: 'Roboto', sans-serif;
  font-style: normal;
  font-weight: 400;
  font-size: 24px;
  line-height: 28px;
  text-align: center;
}


.destinations-btn:hover {
  background-color: var(--stroke-color-hover);
}

.destinations__item:first-child .destinations-btn {
  color: var(--general-white);
  background-color: var(--accent-blue);
}

.destinations__item:first-child .destinations-btn:hover {
  background-color: var(--accent-blue-hover);
}

.destinations .slider__wrapper {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.destinations__slider {
  margin-bottom: 48px;
}

.destinations__reservation {
  position: absolute;
  background-color: rgba(56, 56, 56, 0.4);
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
}

.destinations__bottom-button {
  position: relative;
}

.destinations .slider__arrow--right {
  display: none;
}





/* ##############################################
                  || SIGN-IN
################################################ */
.container--sign-up {
  padding-top: 0px;
  padding-bottom: 0px;
}

.sign-up {
  display: flex;
  flex-direction: column;
  background-color: var(--bg-color);
  padding: 52px 24px;
}

.sign-up__icon-1 {
  box-sizing: border-box;
  grid-row: 1/3;
  grid-column: 1/2;
  display: none;
  width: 58px;
  height: 58px;
  color: var(--general-white);
  background-color: var(--accent-blue);
  border-radius: 4px;
  padding: 0 2.5px;
  margin-right: 16px;
}

.sign-up__icon-2 {
  grid-row: 1/3;
  grid-column: 1/2;
  align-self: center;
  width: 86px;
  height: 86px;
  color: var(--accent-blue);
  margin-right: 24px;
}

.sign-up__cell {
  display: grid;
  grid-template-rows: 1fr 1fr;
  grid-template-columns: min-content 1fr;
  margin-right: 24px;
}

.sign-up__text-desktop {
  font-weight: 500;
  font-size: 24px;
  line-height: 28px;
  color: var(--text-color);
  margin-bottom: 16px;
}

.sign-up__text-mobile {
  grid-row: 1/3;
  grid-column: 2/3;
  align-self: center;
  display: none;
  font-weight: 400;
  font-size: 12px;
  line-height: 14px;
  color: var(--text-color);
}

.sign-up__btn {
  max-width: 128px;
  font-weight: 400;
  font-size: 18px;
  line-height: 21px;
  cursor: pointer;
  background-color: var(--general-white);
  color: var(--accent-blue);
  border: 1px solid var(--accent-blue);
  border-radius: 8px;
  padding: 12px 32px;
}

.sign-up__btn:hover {
  background-color: var(--stroke-color-hover);
}

.sign-up__btn-close {
  cursor: pointer;
  width: 26px;
  height: 26px;
  color: var(--secondary-text);
  background-image: url("../images/other-graphics/icons/close.svg ");
  background-color: transparent;
  background-position: center;
  background-repeat: no-repeat;
  background-size: 26px 26px;
  align-self: flex-end;
}

.sign-up__install {
  display: none;
  font-weight: 500;
  font-size: 14px;
  line-height: 16px;
  color: var(--accent-blue);
}





/* ##############################################
                  || FOOTER
################################################ */
.footer {
  color: var(--general-white);
  background-color: var(--general-blue);
}

.logo__footer {
  width: 98px;
  height: 19px;
  color: var(--general-white);
}

.footer .logo {
  display: none;
}

.logo__link {
  display: inherit;
}

.footer__menu {
  display: flex;
  flex-wrap: wrap;
  column-gap: 16px;
  row-gap: 40px;
  justify-content: space-between;
  margin-bottom: 64px;
}

.footer__list {
  width: 32.45%;
  display: flex;
  flex-direction: column;
  row-gap: 24px;
  font-weight: 400;
  font-size: 20px;
  line-height: 23px;
}

.footer__list-item:first-child {
  font-weight: 500;
}

.footer__link {
  color: var(--general-white);
}

.footer__copyrights {
  font-weight: 400;
  font-size: 14px;
  line-height: 16px;
}
